/* prettier-ignore */
:root {
  --body-background-color: #282a36;
  --canvas-background-color: #2b2e3b;
  --canvas-background-color-light: #333847;

  --box-shadow-off: 
    0 2.8px 2.2px -16px rgba(4, 5, 6, 0.02),
    0 6.7px 5.3px -16px rgba(4, 5, 6, 0.028), 
    0 12.5px 10px -16px rgba(4, 5, 6, 0.035),
    0 22.3px 17.9px -16px rgba(4, 5, 6, 0.042), 
    0 41.8px 33.4px -16px rgba(4, 5, 6, 0.05),
    0 100px 80px -16px rgba(4, 5, 6, 0.07);

  --box-shadow-on: 
    0 1.4px 77.5px rgba(252, 106, 194, 0.012), 
    0 3.3px 104px rgba(252, 106, 194, 0.01),
    0 6.3px 113px rgba(0, 0, 0, 0.022), 
    0 11.2px 119.9px rgba(252, 106, 194, 0.015),
    0 20.9px 141px rgba(252, 106, 194, 0.011), 
    0 50px 230px rgba(0, 0, 0, 0.024);

  --box-shadow-green: 
    0 1.4px 77.5px rgba(10, 214, 78, 0.012), 
    0 3.3px 104px rgba(10, 214, 78, 0.01),
    0 6.3px 113px rgba(0, 0, 0, 0.022), 
    0 11.2px 119.9px rgba(10, 214, 78, 0.015),
    0 20.9px 141px rgba(10, 214, 78, 0.011), 
    0 50px 230px rgba(0, 0, 0, 0.024);

  --box-shadow-orange: 
    0 1.4px 77.5px rgba(251, 175, 0, 0.012), 
    0 3.3px 104px rgba(251, 175, 0, 0.01),
    0 6.3px 113px rgba(0, 0, 0, 0.022), 
    0 11.2px 119.9px rgba(251, 175, 0, 0.015),
    0 20.9px 141px rgba(251, 175, 0, 0.011), 
    0 50px 230px rgba(0, 0, 0, 0.024);

  --box-shadow-red: 
    0 1.4px 77.5px rgba(163, 0, 0, 0.012), 
    0 3.3px 104px rgba(163, 0, 0, 0.01),
    0 6.3px 113px rgba(0, 0, 0, 0.022), 
    0 11.2px 119.9px rgba(163, 0, 0, 0.015),
    0 20.9px 141px rgba(163, 0, 0, 0.011), 
    0 50px 230px rgba(0, 0, 0, 0.024);

  --food-color: rgba(252, 106, 194, .3);
  --food-color-faded: rgba(252, 106, 194, .1);

  --border-radius: 0.5rem;
}

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  color: var(--primary-color);
  background-color: var(--body-background-color);
  font-family: Helvetica;
  font-size: medium;
  display: grid;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  place-items: center;
  color: #f5f5f5;
  overflow: hidden;
}

.wrapper {
  border-radius: var(--border-radius);
  background: radial-gradient(
    circle at top,
    var(--canvas-background-color-light),
    var(--canvas-background-color)
  );
  box-shadow: var(--box-shadow-off);
  overflow: hidden;
  padding: 2rem;
  transition: box-shadow 1s ease-in;
}

.wrapper.on {
  box-shadow: var(--box-shadow-on);
}

.wrapper.green {
  box-shadow: var(--box-shadow-green);
}

.wrapper.orange {
  box-shadow: var(--box-shadow-orange);
}

.wrapper.red {
  box-shadow: var(--box-shadow-red);
}

canvas {
  background-color: var(--body-background-color);
  border: 1px solid var(--food-color-faded);
  opacity: 0.5;
  transition: all 1s ease-in;
}

canvas.on {
  border: 1px solid var(--food-color);
  opacity: 1;
}

canvas.on.green {
  border: 1px solid rgba(10, 214, 78, 0.6);
}

canvas.on.orange {
  border: 1px solid rgba(251, 175, 0, 0.6);
}

canvas.on.red {
  border: 1px solid rgba(163, 0, 0, 0.6);
}

header {
  display: grid;
  flex-flow: column nowrap;
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  place-items: center;
  opacity: 0;
  transform: translateY(4rem);
  transition: all 1s ease-in-out;
  top: 0;
  left: 0;
  backdrop-filter: blur(2px) grayscale(30%);
}

.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}

.controls {
  display: inherit;
  justify-content: space-between;
  padding: 0;
}

h1 {
  letter-spacing: -1px;
  font-weight: lighter;
  color: #fc6ac2;
  opacity: 0.8;
}

td {
  text-align: center;
}

table {
  opacity: 0.8;
}

header.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.invisible {
  display: none;
}
